.row.section.story-section
  .col-md-5.col-xs-12
    .story-image
      img(src="/app/img/story_image.png", alt="")
  .col-md-7.col-xs-12.content-wrapper
    .content.story-content
      h2.section-titie
        | Our Story

      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sed, beatae! Sunt, sapiente facilis! Cumque molestiae repellendus molestias rem animi nemo, error eligendi, repellat consequuntur aliquam quisquam omnis explicabo quasi.

      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sed, beatae! Sunt, sapiente facilis! Cumque molestiae repellendus molestias rem animi nemo, error eligendi, repellat consequuntur aliquam quisquam omnis explicabo quasi.
      button.btn
          | learn more
