doctype html
html
  head
    meta(charset='UTF-8')
    title Webpack
    base(href='/')
    link(href='http://allfont.ru/allfont.css?fonts=roboto-black', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='app.css')
  body
    .wrap
      include views/header-section/index
      p Пидр
      p Пидр
      p Пидр
      p Пидр
      p Пидр
      p Пидр
      p Пидр
      p Пидр
