section.header-section
  include ./top-nav
  .content.header-content.row
    h3.header-title.col-xs-12.center-xs We Are Awesome Creative Agency
    .space-banner.col-xs-12
        span
    p.section-content.col-md-6.col-sm-6.col-xs-10
        |This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
    .button-top-container.col-xs-12.center-xs
        button.btn
            | learn more
    .top-slider-buttons
        .shariki
            p.active
            p
            p
            p

