.top-nav.between-xs
  .logo.col-md-2
    img(src="/app/img/logo.png", alt="")
  .menu-btn.col-md-7
    i.fa.fa-bars
  .top-navigation.col-md-7
    ul
      li.active#home
        a(href="#home" rel="m_PageScroll2id") Home
      li
        a(href="#about" rel="m_PageScroll2id") About
      li
        a(href="#video" rel="m_PageScroll2id") Video
      li
        a(href="#expertise" rel="m_PageScroll2id") Expertise
      li
        a(href="#id" rel="m_PageScroll2id") Teams
      li
        a(href="#id" rel="m_PageScroll2id") Works
      li
        a(href="#id" rel="m_PageScroll2id") People Say
      li
        a(href="#id" rel="m_PageScroll2id") Contact
  .mobile-menu
    ul
      li.active#home
        a(href="#home" rel="m_PageScroll2id") Home
      li
        a(href="#about" rel="m_PageScroll2id") About
      li
        a(href="#video" rel="m_PageScroll2id") Video
      li
        a(href="#expertise" rel="m_PageScroll2id") Expertise
      li
        a(href="#id" rel="m_PageScroll2id") Teams
      li
        a(href="#id" rel="m_PageScroll2id") Works
      li
        a(href="#id" rel="m_PageScroll2id") People Say
      li
        a(href="#id" rel="m_PageScroll2id") Contact

