.top-nav.between-xs
  .logo.col-md-2
    img(src="/app/img/logo.png", alt="")
  .top-navigation.col-md-7
    ul
      li.active
        a(href="") Home
      li
        a(href="") About
      li
        a(href="") Expertise
      li
        a(href="") Teams
      li
        a(href="") Works
      li
        a(href="") People Say
      li
        a(href="") Contact

