.top-nav.between-xs
  .logo.col-md-2
    img(src="/app/img/logo.png", alt="")
  .top-navigation.col-md-7
    ul
      li.active
        a(href="") Home
      li
        a(href="") Home
      li
        a(href="") Home
      li
        a(href="") Home
      li
        a(href="") Home
      li
        a(href="") Home
      li
        a(href="") Home

