.row.section.expertise-section#expertise
  .col-xs-12.content-wrapper
    .content.expertise-content
      .section-titie.center-xs
        h2
          | expertise
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .space-banner.col-xs-12.gray
          span

      .expertise-cards.row
        .expertise-card.col-md-4.col-sm-6.col-xs-12
          .card-image
            i.fa.fa-desktop(aria-hidden="true")
          .card-title
            | WEB DESIGN & DEVELOPMENT
          .card-desc
             | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .expertise-card.col-md-4.col-sm-6.col-xs-12
          .card-image
            i.fa.fa-paint-brush(aria-hidden="true")
          .card-title
            | BRANDING IDENTITY
          .card-desc
             | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .expertise-card.col-md-4.col-sm-6.col-xs-12
          .card-image
            i.fa.fa-mobile(aria-hidden="true")
          .card-title
            | MOBILE APP
          .card-desc
             | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.

        .expertise-card.col-md-4.col-sm-6.col-xs-12
          .card-image
            i.fa.fa-id-card-o(aria-hidden="true")
          .card-title
            | SEARCH ENGINE OPTIMIZATION
          .card-desc
             | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.

        .expertise-card.col-md-4.col-sm-6.col-xs-12
          .card-image
            i.fa.fa-gamepad(aria-hidden="true")
          .card-title
            | GAME DEVELOPMENT
          .card-desc
             | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.

        .expertise-card.col-md-4.col-sm-6.col-xs-12
          .card-image
            i.fa.fa-heart(aria-hidden="true")
          .card-title
            | MADE WITH LOVE
          .card-desc
             | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.



